<ion-header>
  <ion-toolbar>
    <ion-title>listCambios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" color="primary" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    <ion-label>Historial de registros</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <p>Cambios:20$</p>
    </ion-item>

  </ion-list>

</ion-content>