<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Cambio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"  color="primary" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >


  <form [formGroup]="divisasForm" class="ion-margin-top ion-padding-horizontal"   (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">BCV<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name="Bs" formControlName="BS" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pesos<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name="COP" formControlName="COP" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dolares<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required name="UDS" formControlName="USD" type="number"></ion-input>
    </ion-item>
    <ion-button class="submit" block expand="block" 
    shape="round" color="primary" type="submit" [disabled]="divisasForm.invalid">
      Guardar
    </ion-button>
  </form>

</ion-content>
