<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="getList($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <ion-grid fixed>
      <ion-row >
        <ion-item-divider >
          <h3 *ngIf="cambioActual.dateinfo">Act: {{cambioActual.dateinfo}}</h3>
          <ion-skeleton-text animated style="width: 40%" *ngIf="!cambioActual.dateinfo"></ion-skeleton-text>
        </ion-item-divider>
        <ion-col size="12">
          <ion-item class="item__divisa" >
            <ion-thumbnail slot="start">
              <img src="assets/img/bandera-usa.jpg">
            </ion-thumbnail>
            <ion-label>
              <h2>Dolar a Bs</h2>
              <h3 *ngIf="cambioActual.dollar">{{cambioActual.dollar | number}} $</h3>
              <ion-skeleton-text animated style="width: 10%" *ngIf="!cambioActual.dollar"></ion-skeleton-text>
            </ion-label>
            <ng-container *ngIf="cambioAnterior">
              <ion-icon name="chevron-up-outline" color="success" *ngIf="cambioActual.dollar > cambioAnterior.dollar">
              </ion-icon>
              <ion-icon name="chevron-down-outline" color="danger" *ngIf="cambioActual.dollar < cambioAnterior.dollar">
              </ion-icon>
              <ion-icon name="remove-outline" color="warning" *ngIf="cambioActual.dollar == cambioAnterior.dollar"></ion-icon>
            </ng-container>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="item__divisa" >
            <ion-thumbnail slot="start">
              <img src="assets/img/bandera-colombia.jpg">
            </ion-thumbnail>
            <ion-label>
              <h2>Pesos a bs</h2>
              <h3 *ngIf="cambioActual.peso">{{cambioActual.peso | number}} COP</h3>
              <ion-skeleton-text animated style="width: 10%" *ngIf="!cambioActual.peso"></ion-skeleton-text>
            </ion-label>
            <ng-container *ngIf="cambioAnterior">
              <ion-icon name="chevron-up-outline" color="success" *ngIf="cambioActual.peso > cambioAnterior.peso">
              </ion-icon>
              <ion-icon name="chevron-down-outline" color="danger" *ngIf="cambioActual.peso < cambioAnterior.peso">
              </ion-icon>
              <ion-icon name="remove-outline" color="warning" *ngIf="cambioActual.peso == cambioAnterior.peso"></ion-icon>
            </ng-container>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item class="item__divisa" >
            <ion-thumbnail slot="start">
              <img src="assets/img/bcv.gif">
            </ion-thumbnail>
            <ion-label>
              <h2 class="ionic-text-center">BCV</h2>
              <h3 *ngIf="cambioActual.bcv">{{cambioActual.bcv}} Bs</h3>
              <ion-skeleton-text animated style="width: 10%" *ngIf="!cambioActual.bcv"></ion-skeleton-text>
            </ion-label>
            <ng-container *ngIf="cambioAnterior">
              <ion-icon name="chevron-up-outline" color="success" *ngIf="cambioActual.bcv > cambioAnterior.bcv">
              </ion-icon>
              <ion-icon name="chevron-down-outline" color="danger" *ngIf="cambioActual.bcv < cambioAnterior.bcv">
              </ion-icon>
              <ion-icon name="remove-outline" color="warning" *ngIf="cambioActual.bcv == cambioAnterior.bcv"></ion-icon>
            </ng-container>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card class="cards__icons">
            <ion-icon class="icon__home" name="cash-outline"></ion-icon>
            <ion-card-subtitle><span>Agregar Divisa</span> </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card routerLink="set-cambios" class="cards__icons">
            <ion-icon class="icon__home" name="cash-outline"></ion-icon>
            <ion-card-subtitle><span>Establecer cambios</span> </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card routerLink="list-cambios" class="cards__icons">
            <ion-icon class="icon__home" name="cash-outline"></ion-icon>
            <ion-card-subtitle><span>Listar Cambios</span> </ion-card-subtitle>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card routerLink="config" class="cards__icons">
            <ion-icon class="icon__home" name="cash-outline"></ion-icon>
            <ion-card-subtitle><span>Configuración</span> </ion-card-subtitle>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>